<h2>Show Music</h2>
<p>
  <strong>Arist_name:</strong>
  <%= @music.artist_name %>
</p>

<p>
  <strong>Composer_name:</strong>
  <%= @music.composer %>
</p>

<p>
  <strong>Song_play:</strong>
<%= @music.song_file %>"
</p>